.pagination {
    font-size: 100% !important;
}
        
.pagination a {
    text-decoration: none !important;
	border: solid 1px #AAE !important;
	color: #15B !important;
}

.pagination a, .pagination span {
	position: relative !important;
	float: left !important;
	padding: 6px 12px !important;
	margin-left: -1px !important;
	line-height: 1.42857 !important;
    border-color: #C8C8C8 !important;
	color: #FF5F00 !important;
	text-decoration: none !important;
	background-color: #FFF !important;
	border: 1px solid #DDD !important;
}

.pagination .current {
    background-color: #FF5F00 !important;
	border-color: #FF5F00 !important;
	z-index: 2 !important;
	color: #FFF !important;
	cursor: default !important;
}

.pagination .current.prev, .pagination .current.next{
	color: #777 !important;
	cursor: not-allowed !important;
	background-color: #FFF !important;
	border-color: #DDD !important;
}